In [32]:
import pandas as pd

from disaster_prediction.dataset import load_full_raw_train_df

df = load_full_raw_train_df()
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [36]:
f'There are {df.shape[0]} tweets in the training dataset'

'There are 7613 tweets in the training dataset'

In [3]:
# Viewing classes imbalance

df['target'].value_counts(normalize=True)

target
0    0.57034
1    0.42966
Name: proportion, dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [7]:
df[~df['location'].isna()]['target'].value_counts(normalize=True)

target
0    0.567717
1    0.432283
Name: proportion, dtype: float64

In [8]:
df[~df['location'].isna()]

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7575,10826,wrecked,TN,On the bright side I wrecked http://t.co/uEa0t...,0
7577,10829,wrecked,#NewcastleuponTyne #UK,@widda16 ... He's gone. You can relax. I thoug...,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0

In [9]:
df['keyword'].value_counts()

keyword
fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: count, Length: 221, dtype: int64

In [29]:
df[df['keyword']=='fatalities']['target'].value_counts(normalize=True).loc[1]

np.float64(0.5777777777777777)

In [35]:
words = []
probs = []
counts = []
for keyword in df['keyword'].unique():
    word_probs = df[df['keyword']==keyword]['target'].value_counts(normalize=True)
    if 1 in word_probs.keys():
        probs.append(word_probs.loc[1])
    else:
        probs.append(0)
    words.append(keyword)
    counts.append(df[df['keyword']==keyword].shape[0])

keyword_disaster_prob = pd.DataFrame({'keyword': words, 'prob': probs, 'count':counts})
keyword_disaster_prob = keyword_disaster_prob.sort_values('prob', ascending=False)
keyword_disaster_prob

         keyword      prob  count
63        debris  1.000000     37
220     wreckage  1.000000     39
71    derailment  1.000000     39
154     outbreak  0.975000     40
153  oil%20spill  0.973684     38
..           ...       ...    ...
20       blazing  0.029412     34
171         ruin  0.027027     37
30   body%20bags  0.024390     41
3     aftershock  0.000000     34
0            NaN  0.000000      0

[222 rows x 3 columns]

The keyword is an extremely useful feature and the classes are balanced.